<div class="title-container">
    <h1 class="title">Editar Proveedor</h1>
</div>
<div class="flex-container-op">
    <div class="flex-item-op">
        <mat-card [ngStyle]="{'border-radius': '20px','border-color': '#6666668f'}">
            <mat-card-content>
                <form class="grid" [formGroup]="proveedorForm">
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">Razon Social</mat-label>
                        <input matInput type="text"  formControlName="razonsocial"/>
                    </mat-form-field>
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">Nombre Comercial</mat-label>
                        <input matInput type="text"  formControlName="nombrecomercial"/>
                    </mat-form-field>
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">ID Tributario</mat-label>
                        <input matInput type="text"  formControlName="idtributaria"/>
                        <mat-error *ngIf="proveedorForm.get('idtributaria')?.hasError('minlength')">El IdTributario debe tener 11 caracteres</mat-error>
                        <mat-error *ngIf="proveedorForm.get('idtributaria')?.hasError('maxlength')">El IdTributario debe tener 11 caracteres</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">Teléfono</mat-label>
                        <input matInput type="text"  formControlName="telefono"/>
                        <mat-error *ngIf="proveedorForm.get('telefono')?.hasError('pattern')">El teléfono debe tener sólo números</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">Corre Electrónico</mat-label>
                        <input matInput type="text"  formControlName="correo"/>
                        <mat-error *ngIf="proveedorForm.get('correo')?.hasError('email')">El correo debe ser válido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">Sitio Web</mat-label>
                        <input matInput type="text"  formControlName="web"/>
                        <mat-error *ngIf="proveedorForm.get('web')?.hasError('invalidUrl')">La URL no es válida</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">Dirección Física</mat-label>
                        <input matInput type="text"  formControlName="direccion"/>
                    </mat-form-field>

                    <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">País</mat-label>
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-select formControlName="pais" [ngStyle]="{'margin-top': '1px','text-indent': '14px','border-radius': '8px','border':'groove','height': '39px', 'display': 'inline-flex'}">
                            <mat-option *ngFor="let pais of paises" [value]="pais.valor">
                                {{ pais.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-12" [ngStyle]="{'margin-top': '9px'}">
                        <mat-label [ngStyle]="{'color': 'rgb(255,0,0)', 'font-weight': 'bold'}">Facturación</mat-label>
                        <input matInput type="text"  formControlName="facturacion"/>
                        <mat-error *ngIf="proveedorForm.get('facturacion')?.hasError('invalidNumber')">El valor de facturación no es válido</mat-error>
                    </mat-form-field>
                </form>
                <div class="flex justify-content-between">
                    <button mat-flat-button class="color-primary" (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        <span>Guardar</span>
                    </button>
                    <button mat-flat-button class="color-warn" (click)="return()">
                        <mat-icon>cancel</mat-icon>
                        <span>Cancelar</span>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
